*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(gastos.png);
    height: 50%;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #f0f4f3;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: white;
    width: 800px;
    height: 500px;
    display: flex;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px rgb(0,0,0,0.3);
}
.container-form{
    width: 100%;
    overflow: hidden;
}
.container-form form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in;
}
.container-form h2{
    font-size: 30px;
    margin-bottom: 20px;
}
.fila{

    align-items: center;
    font-size: 17px;
    text-align: center;
}

.suel{
    width: 300px;
    height: 40px;
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 0 15px;
    background-color: aliceblue;
}
.suel input{
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    background-color: inherit;
}
.button{
    width: 170px;
    height: 45px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    background-color: #3AB397;
    color: wheat;
}
.sign-up{
    transform: translateX(-100%);
}
.container.toggle .info{
    transform: translateX(100%);
}
.container.toggle .sign-up{
    transform: translateX(0);
}
.container-welcome{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    transform: translateX(100%);
    background-color: #3AB397;
    transition: transform 0.5s ease-in-out, border-radius 0.5s ease-in-out;
    overflow: hidden;
    border-radius: 50% 0 0 50%;
}

.container.toggle .container-welcome{
    transform: translateX(0%);
    border-radius: 0 50% 50% 0;
    background-color: #3aa8ad;
}
.container-welcome .welcome{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0 90px;
    color: white;
    transition: transform 0.5s ease-in-out;
}
.welcome-info{
    transform: translateX(100%);
}
.container-welcome h3{
    font-size: 40px;
}
.container-welcome p{
    font-size: 14px;
    text-align: center;
}
.container-welcome .button{
    border: 2px solid white;
    background-color: transparent;
}
.container.toggle .welcome-info{
    transform: translateX(0);
}
.container.toggle .welcome-sign-up{
    transform: translateX(-100%);
}